body {
    background: orange;
}
h1 {
    text-align: center;
    color: black;
    font-size: 60px;
}
h2 {
    text-align: center;
    font-size: 40px;
}
h3 {
    text-align: center;
    font-size: 40px;
}